<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fundo.css}">
    <style>
        body {
            background-color: #f4f6f8;
            color: #6c757d;
        }

        * {
            border-radius: 0 !important;
        }

        .card {
            background-color: #ffffff;
        }

        a:hover {
            opacity: 0.7;
        }
    </style>
</head>

<body class="text-secondary">
    <!--Barra Navegação-->
    <nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #2f3e4e; border-bottom: 4px solid #d6b25e;">
        <div class="container-fluid px-4 fs-5">

            <div class="navbar-brand text-white fw-semibold" href="#">
                Estoque Padaria
            </div>

            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link text-white fw-medium active" aria-current="page" href="#">
                            Início
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white fw-medium" th:href="@{/estoqueProduto}">
                            Estoque
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white fw-medium" th:href="@{/movimentacao}">
                            Movimentação
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-3 px-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb small text-muted mb-2 text-secondary">
                <li class="breadcrumb-item">Movimentações</li>
                <li class="breadcrumb-item active" aria-current="page">Histórico</li>
            </ol>
        </nav>
    </div>

    <!--Conteúdo-->
    <div class="container-fluid py-4 px-4">

        <div style="background-color: #eef1f4; padding: 12px;">
            <div class="card shadow-sm border-0" style="border-top: 3px solid #d6b25e;">

                <div class="card-body pb-0">
                    <h5 class="fw-semibold mb-3">Histórico de Movimentações</h5>
                </div>

                <!--Filtros-->
                <form action="/movimentacao" method="get" class="row g-3 px-3 pb-3 border-bottom">

                    <div class="col-md-4">
                        <label class="form-label">Produto</label>

                        <select name="produtoId" class="form-select" style="border-radius: 0;">
                            <option value="">Todos</option>
                            <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"
                                th:selected="${produto.id == produtoId}">
                            </option>
                        </select>

                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Tipo</label>
                        <select name="tipo" class="form-select" style="border-radius: 0;">
                            <option value="">Todos</option>
                            <option value="ENTRADA"
                                th:selected="${tipo == T(com.leonardo.controle_estoque.utils.TipoMovimentacao).ENTRADA}">
                                Entrada</option>
                            <option value="SAIDA"
                                th:selected="${tipo == T(com.leonardo.controle_estoque.utils.TipoMovimentacao).SAIDA}">
                                Saída</option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Data</label>
                        <input name="data" type="date" class="form-control" th:value="${data}"
                            style="border-radius: 0;">
                    </div>

                    <div class="col-md-2 d-flex align-items-end">
                        <button class="btn btn-outline-primary w-100" style="opacity: 0.9;">
                            Filtrar
                        </button>
                    </div>

                </form>
                <div class="d-flex justify-content-between align-items-center px-3 py-3">
                    <div>
                        <select class="form-select form-select-sm border-0 bg-body-tertiary"
                            style="width: 80px; border-radius: 0;">
                            <option>15</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <!--Tabela-->
                <div class="table-responsive px-3">
                    <table class="table table-hover align-middle">

                        <thead class="table-light text-secondary">
                            <tr>
                                <th>Data</th>
                                <th>Produto</th>
                                <th>Tipo</th>
                                <th>Quantidade</th>
                                <th>Observação</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr th:each="mov : ${listaMovimentacoes}">
                                <td th:text="${#temporals.format(mov.data, 'dd/MM/yyyy HH:mm')}"></td>

                                <td th:text="${mov.produto.nome}"></td>

                                <td>
                                    <span class="badge bg-success-subtle text-success"
                                        th:if="${mov.tipo.name() == 'ENTRADA'}">
                                        Entrada
                                    </span>

                                    <span class="badge bg-danger-subtle text-danger"
                                        th:if="${mov.tipo.name() == 'SAIDA'}">
                                        Saída
                                    </span>
                                </td>

                                <td th:text="${mov.quantidade}"></td>

                                <td th:text="${mov.observacao}"></td>
                            </tr>

                        </tbody>

                    </table>
                </div>

                <div class="d-flex justify-content-between align-items-center px-3 py-2 border-top small text-muted">
                    <span>Total de registros: <span th:text="${#lists.size(listaMovimentacoes)}"></span></span>
                </div>

            </div>
        </div>

    </div>
    <!--Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/228568ab87.js" crossorigin="anonymous"></script>

    <script th:src="@{js/movimentacao.js}"></script>
</body>

</html>